@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

main {
  padding: 32px;
}

.container {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.purple {
  color: rgb(100, 21, 255);
}

/* NAVIGATION */

nav {
  height: 80px;
  display: flex;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 40px;
}

.logo__title {
  font-size: 24px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  margin-left: 4px;
  transition: color 300ms ease;
}

.logo__title:hover{
  color: rgb(100, 21, 255);
}

.nav__links {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
}

.nav__link {
  margin-left: 16px;
  padding: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: rgb(36, 62, 99);
  transition: color 300ms ease;
  text-align: center;
}

.gap__link {
  margin-left: 48px;
}

.nav__link:hover {
  color: rgb(100, 21, 255);
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 8px;
}

.sign-up__link {
  padding: 12px 32px;
  background-color: rgb(100, 21, 255);
  color: white;
  border-radius: 9999px;
  transition: 300ms ease;
}

.sign-up__link:hover,
button:hover {
  color: white;
  text-decoration: none;
  filter: brightness(85%);
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #7342d6;
  padding-right: 16px;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 24px 0;
}

.menu__link {
  font-size: 40px;
  color: white;
  text-decoration-thickness: 2px;
  text-underline-offset: 12px; 
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
}
/* GET STARTED */

h1 {
  font-size: 48px;
}

.get-started__left-side {
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.get-started__para {
  margin: 32px 0;
  line-height: 1.5;
  color: rgb(36, 62, 99);
  font-size: 16px;
}

.email-button__form {
  border: 1px solid lightgrey;
  border-radius: 9999px;
  position: relative;
  padding: 20px 192px 20px 32px;
  width: 90%;
}

input {
  border: none;
  width: 100%;
}

.sign-up__button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 6px 6px 6px 0;
  padding: 12px 32px;
  background-color: rgb(100, 21, 255);
  color: white;
  border-radius: 9999px;
  text-decoration: none;
  transition: 300ms ease;

}

.get-started__trusted-customers {
  margin-top: 64px;
}

.trusted-customers__para {
  font-size: 12px;
  font-weight: 700;
  color: rgb(160, 174, 192);
}

.trusted-customers__img {
  width: 100%;
  padding-right: 24px;
  margin-top: 16px;
  opacity: .5;
}

.get-started__right-side {
  width: 60%;
}

.get-started__img {
  width: 100%;
}

/* FEATURES */

.features__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.service {
  width: 30%;
  margin: 24px 8px;
  display: flex;
}

.service__img {
  padding: 16px 16px;
  border: 1px solid lightgray;
  border-radius: 9999px;
}

.service__description {
  margin-left: 20px;
  text-align: left;
}

.service__title {
  font-size: 24px;
  font-weight: 700;
  color: rgb(36, 62, 99);
}

.service__para {
  margin-top: 12px;
  font-weight: 500;
  line-height: 2;
  color: rgb(124, 139, 161);
}


/* REUSABLE CLASSES */

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
}

.section__header {
  font-size: 52px;
  font-weight: 900;
  color: rgb(36, 62, 99);

}

.section__para {
  margin-top: 16px;
  text-align: center;
  color: rgb(124, 139, 161);
  line-height: 1.625;
}

.half-parent-width {
  max-width: 50%;
}

.third-parent-width {
  max-width: 30%;
}

.para__left-align {
  text-align: left;
}

button {
  padding: 12px 32px;
  background-color: rgb(100, 21, 255);
  color: white;
  border-radius: 9999px;
  transition: 300ms ease;
  margin-top: 2rem;
  border: none;
}

.container {
  padding: 80px 0;
}
/* QUALITY WORK  */


.quality-work__left-side {
  width: 50%;
  margin-right: 8px;
}

.quality-work__right-side {
  width: 50%;
  margin-left: 16px;
}

.quality-work__img {
  width: 100%;
  border: 1px solid lightgray;
}

/* STEPS  */

.steps__left-side {
  width: 50%;
  display: flex;
  align-items: center;
}

.steps__img {
  width: 100%;
}

.steps__right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 48px;
}

.step {
  display: flex;
  margin-top: 32px;
}

.step__number {
  color: rgb(203,213,224);
  font-size: 40px;
  font-weight: 600;
}

.step__description {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
}

.step__title {
  font-size: 20px;
  font-weight: 600;
}

.step__para {
  width: 75%;
  font-size: 16px;
  font-weight: 500;
  color: rgb(113, 128, 150);
  line-height: 2;
}

/* VALUES  */

.values__left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.values__para {
  text-align: left;
}

.values-list {
  display: flex;
  margin: 24px 0;
}

.value {
  width: 50%;
  padding: 8px;
}

.value__title-img {
display: flex;
align-items: center;
}

.value__title {
  font-size: 20px;
}

.value__img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.values__right-side {
  width: 50%;
}

.values__right-side__img {
  width: 100%;
}

/* PRICING  */

.pricing__description {
  display: flex;
flex-direction: column;
align-items: center;
}

.plans {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.plan {
  width: 30%;
  margin-top: 24px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.colored-top {
  width: 100%;
  height: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.green-top {
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__name-price {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 2px solid rgb(226,232,240);
  border-right: 2px solid rgb(226,232,240);
  padding: 30px 4px;
}

.plan__price {
  font-size: 40px;
  margin-top: 4px;
  margin-bottom: 12px;
}

.plan__rate {
  color: rgb(160, 174, 192);
  font-weight: 700;
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: rgb(226, 232, 240);
}

.plan__features {
  width: 100%;
  padding: 16px 0px;
  text-align: center;
  border-left: 2px solid rgb(226,232,240);
  border-right: 2px solid rgb(226,232,240);
}

.plan__feature {
  margin: 20px 0;
  color: rgb(160, 174, 192);
}

.plan__button-wrapper {
  width: 100%;
  border-left: 2px solid rgb(226,232,240);
  border-right: 2px solid rgb(226,232,240);
  border-bottom: 2px solid rgb(226,232,240);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: center;
  
}

.plan__button {
  margin: 24px 0;
  width: 50%;
  border: none;
  font-weight: 700;
  transition: all 300ms ease;
}

.plan__button:hover {
  transform: translateY(-1px);
}

.green-button {
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan2 {
  background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%) !important;
  color: white ;
  border-radius: 8px;
}

.no-border {
  border: none;
}

.white-button {
  background-color: white;
  color: rgb(100, 21, 255);
}

.white-button:hover{
  color: rgb(100, 21, 255);
  text-decoration: none;
  filter: brightness(85%);
}

.white-para {
  color: white;
}

.red-top {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.red-button {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/* TESTIMONIALS  */



.testimonials__right-side,
.testimonials__left-side {
  width: 50%;
}

.testimonials__img {
  width: 100%;
}

.testimonials__left-side {
  padding: 4px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonials__right-side {
  padding: 16px 16px;
}

.review__stars {
  margin: 32px 0;
  color: #fabf2a;
}

.grey-para {
  margin-top: 16px;
  color: grey;
  line-height: 1.5;
}

.reviewers {
  margin-top: 32px;
  padding: 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewer {
  display: flex;
  align-items: center;
}

.reviewer__img-wrapper {
  width: 15%;
}

.reviewer__img {
  width: 100%;
  padding: 4px 4px;
  border-radius: 50%;
}

.reviewer__name {
  margin-left: 8px;
  padding: 4px 4px;
}

.reviewer__position {
  font-size: 12px;
  font-weight: 500;
  color: rgb(160, 174, 192);
}

/* CONTACT  */

.contact__content {
  background-color: rgb(100, 21, 255);
  padding: 96px 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}

.contact__sentence {
  width: 50%;
  color: white;
}

.get-started__button, .contact-us__button {
  margin: 0 4px;
  padding: 24px 32px;
}

.get-started__button {
  background-color:  rgb(245 101 101);;
}

.contact-us__button {
  border: 1px solid lightgrey;
}

/* FOOTER  */

footer {
  padding: 24px 16px;
  background-color: rgb(100, 21, 255);
}

/* LINKS  */

.links__section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  padding: 24px 4px;
}

.link__column {
  width: calc(100% / 5);
  display: flex;
  flex-direction: column;
}

.white-link {
  text-decoration: none;
  color: white;
  margin-top: 8px;
  max-width: fit-content;
  position: relative;
}

.white-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.white-link:hover::after {
  opacity: 1;
}

.barely-visible__line {
  margin: 48px 0;
  height: .1px;
  background-color: rgb(113, 128, 150);
}

/* FOOTER INFO  */

.footer__info {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}


.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo-img {
  width: 40px;
}

.footer-logo__title {
  margin-left: 8px;
  color: white;
}

.footer__copyright {
  color: white;
  display: flex;
  align-items: center;
}


.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
}



.social {
  width: 32px;
  height: 32px;
  color: black;
  border-radius: 50%;
  margin-left: 16px;
  background-color: white;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SMALL PHONES, TABLETS, AND LARGE SMARTPHONES  */

@media (max-width: 790px) {
  .nav__links {
    display: none;
  }
  
  .btn__menu {
    display: block;
  }

}

@media (max-width: 550px) {
}











